@import './variables.css';

html {
    font-size: 62.5%;  /* 1rem = 10px */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--baskerville-text);
    font-weight: 400;
}

body, p, li, span {
    font-family: var(--freight-text);
    color:var(--shade-black);
    font-weight: 400;
}

body {

    background-color: var(--white);
    width: var(--full-width);
    border: solid 0px red;
    font-size:1.8rem;
}

.row {
    --bs-gutter-x: 0.0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-left {
    text-align:left !important;
}

.text-center {
    text-align:center !important;
}

.venues-section {
    padding-bottom:0rem;
    padding-top:4rem;
}

.flex-left {
    display: inline-flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
}

.with-arrow1 {
    position: relative;
    padding-right: 2rem; /* make space for the arrow */
    font-size: 16px;
    cursor: pointer;
    background-color:transparent; /* pink example */
    color: white;
    padding: 10px 20px !important;
    gap:2px;
    text-align:center;
}

.with-arrow {
    color: white;
    background-color:transparent;
    border: none;
    border-radius: 8px;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    transition: color 0.3s ease;
    font-size:1em
}

.with-arrow:hover {
    color: hotpink; /* shaft + arrowhead change color */
}

.arrow {
    display: inline-block;
}


.width-button-stories {
    width: var(--button-width-200);
}

.pink-button {
    background-color: var(--pink);
    color: var(--white);
    border-radius: 30px;
    padding: 1rem;
    min-width: 170px;
    border: solid 1px transparent;
}

.pink-button:hover {
    background: var(--white);
    color: var(--pink);
    border:solid 2px var(--pink)
}

a.pink-button {
    display: inline-block;
    text-align: center;
    margin: 3rem 0px;
    text-decoration:none;
}

.white-button {
    background-color: transparent;
    color: var(--pink);
    border-radius: 30px;
    padding: 1rem;
    min-width: 174.5px;
    border: solid 2px var(--pink);
    display:inline-block;
    text-decoration:none;
}

.white-button:hover {
    background: var(--pink);
    color: var(--white);
    border: solid 2px var(--white);
}

.block-title, .h1-title, h1.regular-header {
    color: var(--pink);
    font-size:var(--h1);
    font-weight:normal;
    line-height:var(--h1-line-height);
    text-align:left;
    padding:0rem 1rem 1rem 0rem;
}

.h2-title, h2.heading-level-2, h2 {
    color: var(--pink);
    font-size: var(--h2);
    line-height: var(--h2-line-height);
    text-align: left;
    padding: 2rem 1rem 2rem 0rem;
}

h3.heading-level-3, h3 {
    color: var(--pink);
    font-size: var(--h3);
    line-height: var(--h3-line-height);
    text-align: left;
    padding: 2rem 1rem 2rem 0rem;
}

h4.heading-level-4, h4+ {
    color: var(--pink);
    font-size: var(--h4);
    line-height: var(--h4-line-height);
    text-align: left;
    padding: 2rem 1rem 2rem 0rem;
}

.venue-title {
    color: var(--pink);
    font-size: var(--h2);
    line-height: var(--h2-line-height);
    text-align: left;
    padding: 0rem 1rem 3rem 0rem;
}

.sub-title {
    color: var(--pink);
    font-size: var(--h3);
    line-height: var(--h3-line-height);
    text-align: left;
    padding-bottom:2rem;  
    font-weight:normal;
}

.sub-title-bold {
    color: var(--pink);
    font-size: var(--h3);
    line-height: var(--h3-line-height);
    text-align: left;
    padding-bottom: 2rem;
    font-weight: bold;
}

.venues-list {
    display:block;
}

.venues-list > a {
    display:grid;
    color:#000;
    text-align:center;
    font-size:1.8rem;
    padding-bottom:1.8rem;
}

.img-container {
    padding:30px 0px;
}

.pad-bottom-default {
    padding-bottom: var(--space-lg);
}

p.lead-paragraph {
    font-size:var(--text-xl);
    margin-bottom:5rem;
}

p > a, li > a {
    color: var(--shade-black);
}




