
/* make the black header box transparent */
.i4ewOd-pzNkMb-haAclf {
    background-color: transparent;
}

/* make the white header text color transparent */
.HzV7m-b7CEbf .i4ewOd-pzNkMb-tJHJj {
    color: transparent;
}

iframe {
    background-color:red;
}
