@import './variables.css';
@import './base.css';
@import './header-with-secondary.css';
@import './breadcrumb.css';
@import './venues-home.css';
@import './stories-home.css';
@import './stories-landing.css';
@import './canvas.css';
@import './accordion.css';
@import './tables.css';
@import './form.css';
@import './panels.css';
@import './social-media.css';
@import './quotation.css';
@import './imagestrip.css';
@import './footer.css';



main {
    min-height: 45vh;
    padding-bottom: 0rem;
    border: solid 0px red;
}

div#venue-outer-wrapper,
div#stories-outer-wrapper,
div.outer-full-wrapper{
    width: 100%;
    height:auto;
    margin:0;
    padding:0;
    background-color:white;
}

div#stories-outer-wrapper {
    background-color:var(--cream);
    padding-top:2rem;
    padding-bottom:5rem;
}

main,
.breadcrumb-container,
.header-container,
.footer-container,
.psuedo-wrapper,
.custom-container,
.container{
    max-width: 1288px;
    margin: 0 auto;
    width: 100%;
    border: solid 0px black;
    height: 100%;
}

main > div > #chain {
    background-image: url('/static/images/navigation/menu-decroration.png');
    background-position: top 5px left 0; /* 5px gap from top, 0 from left */
    background-size: 100% 10px; /* 100% width, 10px height */
    background-repeat: no-repeat; /* Prevents repeating */
    padding-top: 20px; /* Creates space for content below image */
    height:5px;
    background-color:transparent
}

.content-container {
    padding-bottom:3rem;
}

.footer-container {
    padding-top: 30px;
}

header {
    min-height: 150px;
    background-color: var(--white);
}

footer {

    min-height: 363px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.psuedo-wrapper {}

.footer-logo {
    width: 303px;
    height: 59px;
}

/* colors */
.shade-black {
    color: var(--shade-black);
}

ul.shade-black {
  padding-bottom:0rem;
}

ul.shade-black ul li {
    list-style:disc;
    padding-left: 0; 
    margin-left: 0; 
    left:0px;
    position:relative;
    margin:20px;
}

/* home page related */
.hero-banner-information {
    z-index: 999;
    background-color: transparent;
    width: 100%;
    height: 26vh;
    padding-top: 4rem;
    position: relative;
    top: 0.5rem;
    border: solid 0px red;
}

.hero-title {
    /* font style should be baskerville*/
    color: var(--plain-black);
    font-size: 6.6rem;
    font-weight: 400;
    padding-bottom: 2rem;

}

.hero-text,
.venue-text {
    color: var(--plain-black);
    font-size: var(--text-base);
    padding-bottom: 2rem;
}

.hero-text {
    max-width: 460px;
}

div.feature-area-image-box {
    padding-left: 0px;
    padding-right: 0px;
}

div.feature-area-venue-image,
div.promotion-area-venue-image {
    position: relative;
    width: 100%;
    /*aspect-ratio: 16/9; /* Your desired ratio */
    overflow: hidden;
    height: 365px;
}

div.feature-area-venue-image>img,
div.promotion-area-venue-image>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

div.promotion-text {
    position: absolute;
    color: var(--white);
    width: 100%;
    text-align: center;
    top: 3rem;
}

div.venue-image>img {
    width: 95%;

}

.image-text-component.row {
    display: flex;
    gap: 30px; /* 30px only between children */
}

.image-text-component .col-md-6 {
    flex: 1; /* ensure both take equal width */
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media (max-width: 576px) {

    body, p, li, span {
        font-size:16px;
    }

    .nav-container {
        display:none;
    }

    .outer-full-wrapper {
        padding-left:15px !important;
        padding-right:15px !important;
    }

    .outer-full-wrapper:first-of-type {
        border:solid 0px red;
        padding-left:0px!important;
        padding-right:0px !important;
    }

    .venues-section {
        padding-top:20px;
    }

    h2.block-title {
        font-size:var(--h2);
    }

    .pink-button, .white-button {
        font-size:16px;
        min-width: 165px;
    }

     div.hero-banner {
        border-left:solid transparent 10px;
        border-right:solid transparent 10px;

    }

    .hero-banner-information {
        padding-top:1em;
    }

    .hero-title {
        font-size: 44px;
        line-height: 1em;
        text-align: left !important;
        font-weight: normal;
        padding-top: 0em;
    }

    .hero-text, .venue-text {
        font-size: 0.89em;
        padding-bottom: 15px;
    }

    .hero-banner-information > .pink-button {
        text-align: left;
        padding-bottom: 10px;
    }
}