@media (min-width: 992px) {
.three-columns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
}

@media (max-width: 991.98px) {
    .three-columns {
        display: flex;
        flex-direction: column;
        gap: 26.5px;
    }
}

.column-box {
    background-color: transparent;
    /* #f1f1f1; */
    padding: 2rem;
    min-height: 450px;
    border-radius: 8px;
    width:33.33%;
    background-color:var(--white);
}

div.stories-img {
    position: relative;
    width: 100%;
    /*aspect-ratio: 16/9; /* Your desired ratio */
    overflow: hidden;
    height: 220px;
}

div.stories-img>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

div.stories-information {
    text-align: center;
    display:inline-flex;
    flex-direction:column;
}

div.stories-information>h2 {
    text-align: center;
    padding: 20px 0px;
}

div.stories-information>p {
    text-align: center;
    display:inline-block;
    flex-grow:1;
}

div.stories-information>button {
    text-align: center;
    margin:auto;
}

div.center-container {
    margin: auto;
    text-align: center;
    padding: 6rem 0rem 2rem 0rem;
}