.three-column-container {
    max-width: 1288px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.col {
    background: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
}

/* Desktop layout */
@media (min-width: 992px) {
    .col {
        margin-bottom: 0;
        background-color:transparent;
    }

    .col:nth-child(1) {
        width: 32.2%;
        margin-right: 2.55%;
        padding-left:0px;
    }

    .col:nth-child(2) {
        width: 32.2%;
    }

    .col:nth-child(3) {
        width: 32.2%;
        margin-left: auto;
    }
}
