@page
@using Blackpool.Zengenti.CMS.Helpers
@using Blackpool.Zengenti.CMS.Models.Canvas.Helpers;
@using Blackpool.Zengenti.CMS.Models.Canvas.Code
@using Blackpool.Zengenti.CMS.Models.Canvas.Headers
@using Blackpool.Zengenti.CMS.Models.Canvas.Lists
@using Blackpool.Zengenti.CMS.Models.Canvas.Paragraphs
@using Content.Modelling.Models.Canvas.Helpers
@using Content.Modelling.Models.Canvas.Images
@using Newtonsoft.Json
@using RazorPageWeddingWebsite.Helpers
@using Blackpool.Zengenti.CMS.Models.Weddings;
@using Blackpool.Zengenti.CMS.Models.GenericTypes;
@using System.Text


@model RazorPageWeddingWebsite.Pages.Home.DetailsModel;
@{
    GettingMarried? entryModel = (Model != null && Model.Items.Count == 1) ? Model.Items.FirstOrDefault() : null;
}

@if (entryModel != null)
{
    @try
    {

        @await Component.InvokeAsync("Canvas", entryModel)
    }
    catch (Exception ex)
    {
        <div class="alert alert-danger">@ex.Message</div>
    }
}
else
{
    <h1>home details pages not found </h1>
}